.DS_Store
*~
/.tmp
/app/package/
/node_modules
/gulpfile.js
/package.json
/_private/*
/_internal/*
/m/act/201508/editor-note2/answer_choose.txt
/m/act/201508/editor-note2/answer_write.txt
/gulp
/.tags
/.tags_sorted_by_file
/nodejs_httpserver.js
/startserver.bat
.idea
config.php
*.log
api/.env
api/composer.lock
api/vendor/*
**/node_modules