@charset "utf-8";
html,body { font-size: 20px; width: 100%; height: 100%;}
body { color: #333; line-height: 1.42; font-size: .6rem; font-family: Arial,Helvetica,sans-serif;}
body, div, p, h1, h2, h3, h4, article, section, header, footer, aside, nav, dialog, ul, ol, li, span {
	margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box;
}
ul,ol { list-style: none; }
h1, h2, h3 { line-height: 1.5; font-weight: normal; font-size: .7rem;}
img { border:0; vertical-align:middle; width: 100%; max-width: 100%;}
li, i, span, a, img { outline: 0; -webkit-tap-highlight-color: rgba(0,0,0,0);}
a { text-decoration: none; color: #333;}
a:active { opacity: .8;}
.fl { float: left; }
.fr { float: right; }
.cl:after { display: block; content: ""; clear: both;}

/*分享详情页*/
body { background: url(http://cdn.icomicool.cn/common/loading-bg.png) repeat; -webkit-background-size:15px 15px; background-size:15px 15px; padding-bottom: 2.7rem; height: auto;}
.share-page { background-color: #fff;}
.share-page img {width: 100%;}

.header {
    position: relative;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
}
.header-t {
    height: 2.2rem;
    padding: 0 .5rem;
    line-height: 2.2rem;
    background: rgba(255,255,255, .95);
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e62c32;
}
.header-t, .header-b {
    -webkit-transition: all ease-out .2s;
    transition: all ease-out .2s;
}
.header-mini .header-t, .header-mini .header-b {
    -webkit-transform: translate3d(0, 2.2rem, 0);
    transform: translate3d(0, 2.2rem, 0);
}
.header-t a {
    color: #fff;
    font-size: .7rem;
}
.header-t .logo {
    float: left;
    font-size: .9rem;
}
.header-t img {
    display: block;
    margin-top: .5rem;
    width: auto !important;
    height: 1.2rem;
}
.header-t-r {
    float: right;
}
.header-t-r a {
    display: inline-block;
    height: 1.2rem;
    line-height: 1.2rem;
    padding: 0 .5em;
    border-left: 1px solid rgba(255,255,255, .5);
}
.header-t-r a:first-child {
    border: 0;
}
.header-openapp:before {
    content: "";
    padding-left: 1em;
    background: url(../images/kuhua/icon-mobile.png) no-repeat;
    background-size: auto 100%;
}
.header-b {
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    border-bottom: 1px solid #ddd;
    background: #eee;
}
.header-b a {
    display: block;
    padding: 0 .5rem;
    background: url(../images/kuhua/enter-arrow.png) right no-repeat;
    -webkit-background-size: 1em;
    background-size: 1em;
    background-origin: content-box;
    font-size: .7rem;
}
.sr-con { position: relative;}

.tips { position: fixed; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; background-color:rgba(0,0,0,1); z-index: 999;}
.hide { display: none;}
.share-read { width: 100%; position: relative;}
.share-read img { width: 100%;}

.sr-foot { width: 100%; text-align: center; display: none;}
.sr-foot-inner { padding: .75rem 0; font-size:0;}
.sr-foot-inner a { vertical-align: middle; display: inline-block; width: 3.075rem; height: 1rem; margin: 0 .5rem; background:url(../images/kuhua/fanye.png) no-repeat; -webkit-background-size:200% 200%; background-size:200% 200%;}
.sr-foot-inner a.prev-btn { background-position: 0 0;}
.sr-foot-inner a.prev-btn.curr { background-position: 0 100%;}
.sr-foot-inner a.next-btn { background-position: 100% 0;}
.sr-foot-inner a.next-btn.curr { background-position: 100% 100%;}

.sr-foot-inner a.catalog-btn { width: 4.825rem; height: 1.5rem; background:url(../images/kuhua/btn-catalog.png) no-repeat; -webkit-background-size:100% 100%; background-size:100% 100%;}
.goto-home {
    position: fixed;
    right: 1rem;
    bottom: 6rem;
    width: 1.7rem;
    height: 1.7rem;
    padding: .4rem;
    background: #000 url(../images/kuhua/icon-home.png) center no-repeat;
    -webkit-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-size: 100%;
    background-size: 100%;
    -wekbit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    opacity: .8;
}
.goto-home ul {
    visibility: hidden;
    position: absolute;
    bottom: 2.5rem;
    right: 0;
    background: #000;
    border-radius: .2rem;
    -webkit-transform-origin: 77% 100%;
    transform-origin: 77% 100%;
}
.goto-home ul:after {
    content: "";
    position: absolute;
    right: .45rem;
    bottom: -.7rem;
    border: .4rem solid transparent;
    border-top-color: #000;
}
.goto-home li {
    border-top: 1px solid rgba(255,255,255, .2);
}
.goto-home li a {
    display: block !important;
    padding: .5em;
    font-size: .7rem;
    color: #fff;
    white-space: nowrap;
    text-align: center;
}
.goto-home .goto-home-expand {
    visibility: visible;
    -webkit-animation: boom .2s ease-out;
    animation: boom .2s ease-out;
}
#gotop {
    display: none;
}

.drop-tip { position: absolute; z-index: 500; top: 1.8rem; right: .6rem; width: 3.5rem; text-align: center; display: none;}
.drop-tip span { display:block; width: 0px; border-bottom-width: .2rem; border-bottom-style: solid; border-bottom-color: rgba(51,51,51,.8); border-top-color: rgba(51,51,51,.8); border-left-width: .2rem !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: .2rem !important; border-right-style: solid !important; border-right-color: transparent !important; margin-left: 2.4rem;}
.drop-inner { border-radius: .2rem; background-color: rgba(51,51,51,.8); padding:0 .25rem;}
.drop-inner p:nth-child(1) { border-bottom: 1px solid #777;}
.drop-inner a { display: block; width: 100%; color: #fff; line-height: 1.4rem;}
.ep-interact {
    position: relative;
    display: table;
    width: 100%;
    height: 3.5rem;
    text-align: center;
    border-top: 1px solid #ddd;
}
.ep-interact-btn {
    display: table-cell;
    width: 100%;
    height: 2.2rem;
    padding-top: .65rem;
    color: #e42f39;
    text-align: center;
}
.ep-interact-btn i {
    position: relative;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    border: 1px solid;
    border-radius: 50%;
    overflow: hidden;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
}
.ep-interact-btn i:before {
    position: absolute;
    top: .3rem;
    left: .3rem;
    width: .6rem;
    height: .6rem;
    content: "";
    background-image: url(../images/kuhua/praise.png);
    background-repeat: no-repeat;
    -webkit-background-size: 200% 100%;
    background-size: 200% 100%; 
    /*background: url(../images/kuhua/praise.png) no-repeat left/200% auto;*/
}
.ep-interact-btn p {
    margin: 0;
    margin-top: .5em;
    line-height: 1;
}
.ep-praise-btn i {
    -webkit-transition: all .2s;
    transition: all .2s;
}
.ep-praise-on i {
    background: #e42f39;
    color: #fff;
    -webkit-animation: praise ease-in-out .5s;
    animation: praise ease-in-out .5s;
}
.ep-praise-on i:before {
    background-color: #e42f39;
    background-position: right 0;
    color: #fff;
    -webkit-animation: praise ease-in-out .5s;
    animation: praise ease-in-out .5s;
}
.download-tip {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.7rem;
    background: #d3d3d3 url(../images/kuhua/download-tip.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.download-tip .download-btn {
    float: right;
    width: 3.5rem;
    height: 1.5rem;
    margin-top: .6rem;
    margin-right: .5rem;
    line-height: 1.5rem;
    background: #e62c32;
    color: #fff;
    text-align: center;
    border-radius: .2rem;
}
.download-tip .download-close {
    float: left;
    width: 2rem;
    height: 2rem;
    margin-top: .4rem;
    margin-left: .3rem;
}
body.hide-download {
    padding: 0;
}
body.hide-download .download-tip {
    display: none;
}
@-webkit-keyframes praise {
    0% {
        -webkit-transform: scale(1);
    }
    33% {
        -webkit-transform: scale(.8);
    }
    66% {
        -webkit-transform: scale(1.4);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@-webkit-keyframes boom {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
    }
}