<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>哆啦A梦-法宝袋61梦幻启程</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="keywords" content="哆啦A梦,可米酷游戏,十二生肖手办">
		<meta name="description" content="哆啦A梦-法宝袋61梦幻启程,参与游戏获取INPLAY正版授权哆啦A梦精美首发十二生肖手办">
		<!-- <script src="http://192.168.10.64:8001/target/target-script-min.js#anonymous"></script> -->
		<!-- <script type="text/javascript" src="js/vconsole.min.js"></script> -->
		<script type="text/javascript" src="js/base.min.js"></script>
		<script type="text/javascript" src="js/zepto-touch.js"></script>
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="//at.alicdn.com/t/font_1463386207_0576153.css">
		<script src="http://m.comicool.cn/m-common/js/init.js"></script>
		<script src="http://cdn.icomicool.cn/m/js/config.js"></script>
		<script src="js/TouchSlide.1.1.js"></script>
		<script src="js/Tip.js"></script>
	</head>

	<body>
		<!-- 一般化分享 -->
		<h1 class="thumbnails" style="display:none">
			哆啦A梦-法宝袋61梦幻启程
			<p>参与游戏获取INPLAY正版授权哆啦A梦精美首发十二生肖手办</p>
			<img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/doraemon_share.jpg">
    	</h1>
    	<header class="header header-fixed header-shadow">
			<a class="l-icon icon-home iconfont" href="http://m.comicool.cn"></a>
			<i class="r-icon icon-share iconfont"></i>
		</header>
		<div class="loading-spinner"></div>
		<!-- 主要内容：开始 -->
		<div class="box" id="imglist">
			<li>
				<img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/index.jpg" alt="哆啦A梦-法宝袋全城梦幻开启" />
				<div class="rule-btn"></div>
			</li>
			<div class="user-content">
				<a class="login-btn" id="login-btn">请您登录</a>
				<div class="user-container">
					<p><span class="user-span">昵称: </span><span class="username"></span></p>
					<p><span class="user-span">酷币余额: </span><span class="kubi-cnt"></span></p>
					<p><span class="user-span">剩余射击次数: </span><span class="shot-cnt">0</span></p>
				</div>
				<div class="exchange-btn" id="exchange-btn">
					<img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/exchange-btn.png" alt="" />
				</div>
			</div>
			<li>
				<img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/index_01.jpg" alt="哆啦A梦-法宝袋全城梦幻开启" />
				<div class="ctrl-hand" id="ctrl-hand"></div>
				<div class="shot-panel"><div class="shot-show-panel"></div></div>
			</li>
			<div class="nav-container" id="nav-tabs">
				<nav class="nav-list hd">
					<ul class="list-unstyled nav-inner">
						<li class="yestoday-rank-li">昨日排行</li>
						<li class="today-rank-li">今日排行</li>
						<li class="prize-list-li">奖励</li>
					</ul>
				</nav>
				<div class="nav-content bd" id="nav-content-bd">
					<div class="yesterday-rank">
						<div>
							<li>
								<img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/yesterday_index.jpg" alt="">
							</li>
							<div id="yesterday-rank"></div>
						</div>
					</div>
					<div class="today-rank">
						<div>
							<li>
								<img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/today_index.jpg" alt="">
							</li>
							<div id="today-rank"></div>
						</div>
					</div>
					<div class="prize-list">
						<div>
							<img id="award-img" src="" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="my-award">我获得的奖品</div>
			<li><img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/index_005.jpg"></li>
			<li>
				<img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/index_006.jpg">
				<div class="go-duty"></div>
			</li>
			<li><img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/index_007.jpg"></li>
			<li><img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/index_008.jpg"></li>
			<div class="slide-container" id="picScroll">
				<div class="hd">
					<span class="next"></span>
					<ul style="display: none">
						<li class="on"></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
				<div class="slide-content">
					<div class="bd">
						<ul>
							<li>
								<div class="pic"><img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/d_1.jpg"></div>
							</li>
							<li>
								<div class="pic"><img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/d_02.jpg"></div>
							</li>
							<li>
								<div class="pic"><img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/d_3.jpg"></div>
							</li>
						</ul>
						<ul>
							<li>
								<div class="pic"><img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/d_4.jpg"></div>
							</li>
							<li>
								<div class="pic"><img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/d_5.jpg"></div>
							</li>
							<li>
								<div class="pic"><img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/d_6.jpg"></div>
							</li>
						</ul>
						<ul>
							<li>
								<div class="pic"><img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/d_7.jpg"></div>
							</li>
							<li>
								<div class="pic"><img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/d_8.jpg"></div>
							</li>
							<li>
								<div class="pic"><img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/d_9.jpg"></div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="slide-main">
				<div class="scroll-container">
					<div class="slide-item"><img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/d_1.jpg" alt="哆啦A梦手办"></div>
					<div class="slide-item"><img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/d_02.jpg" alt="哆啦A梦手办"></div>
					<div class="slide-item"><img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/d_3.jpg" alt="哆啦A梦手办"></div>
					<div class="slide-item"><img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/d_4.jpg" alt="哆啦A梦手办"></div>
					<div class="slide-item"><img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/d_5.jpg" alt="哆啦A梦手办"></div>
					<div class="slide-item"><img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/d_6.jpg" alt="哆啦A梦手办"></div>
					<div class="slide-item"><img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/d_7.jpg" alt="哆啦A梦手办"></div>
					<div class="slide-item"><img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/d_8.jpg" alt="哆啦A梦手办"></div>
					<div class="slide-item"><img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/d_9.jpg" alt="哆啦A梦手办"></div>
				</div>
			</div>
			<li>
				<img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/index_08.jpg">
				<div class="go-mall"></div>
			</li>
			<li>
				<img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/index_09.jpg">
				<div class="tip-next"></div>
			</li>
			<li>
				<img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/index_10.jpg">
				<div class="go mh01" data-cid="707"></div>
				<div class="go mh02" data-cid="706"></div>
				<div class="go mh03" data-cid="10964"></div>
			</li>
			<div class="praise-cnt">333</div>
			<li class="praise-btn">
				<img class="praise-block" src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/index_11.jpg">
			</li>
			<li class="praised-btn">
				<img class="praised-block" src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/praised.jpg">
			</li>
			<div class="rule-mask"></div>
			<div class="rule-container">
				<div class="fr"><i class="iconfont icon-guanbi"></i></div>
				<div class="rule-block">
					<p class="strong">活动规则</p>
					<p>1.活动时间才可以使用“空气炮”射击喔。</p>
					<p>2.100酷币可以兑换一次机会，每日限制500酷币。</p>
					<p>3.排行榜10分钟刷新一次，加油射击，看你的技巧啦。23333</p>
					<p>4.活动奖励在活动结束后5个工作日发放（获奖者记得填写收货地址喔）。</p>
					<p>5.本次活动最终解释权归可米酷漫画所有。</p>
					<p>6.本活动由 可米酷&in play联合出品。</p>
				</div>
				<div class="rule-block">
					<p class="strong">活动奖励</p>
					<p>每天前一、二名可以获得正版授权哆啦A梦首发精致十二生肖手办。</p>
					<p>(星座顺序是按照鼠、牛、虎、兔、龙、蛇、马、羊、猴、鸡、狗、猪分发到活动每一天喔，每天两个)</p>
				</div>
			</div>
			<div class="myaward-container">
				<img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/myawardtitle.png" alt="我获得的奖品">
				<div class="myaward-close"></div>
				<div class="myaward-list">
					暂无获奖信息
				</div>
				<div class="address-btn">
					<img src="http://cdn.icomicool.cn/m/act/201605/doraemon/images/myawardbtn.png" alt="">
				</div>
			</div>
			<div class="post-address">
				<div class="post-pannel">
					<div class="text-left">QQ:</div>
					<div class="text-right"><input type="number" name="qqnum" id="qqnum" class="input-pannel"></div>
				</div>
				<div class="post-pannel">
					<div class="text-left">手机号:</div>
					<div class="text-right"><input type="number" name="phonenum" id="phonenum" class="input-pannel"></div>
				</div>
				<div class="post-pannel">
					<div class="text-left">姓名:</div>
					<div class="text-right"><input type="text" name="truename" id="truename" class="input-pannel"></div>
				</div>
				<div class="post-pannel">
					<div class="text-left">收货地址:</div>
					<div class="text-right"><input type="text" name="address" id="address" class="input-pannel"></div>
				</div>
				<div class="post-btn-pannel">
					<button class="cancel-btn">取消</button>
					<button class="submit-btn">提交</button>
				</div>
			</div>
		</div>
		<div class="wxShareCover"><img src="http://cdn.icomicool.cn/m/act/201605/duty/images/wx-open-browser.png" alt=""></div>
		<div class="discuss_betting">
			<script type="text/template" id="tmpl-discuss">
				<div class="talk_title_betting">
					<span><i class="iconfont icon-liuyan" id="post-counter">{{post_count}}</i></span>
				</div>
				{{if post_list && post_list.length}} {{include 'tmpl-comments'}} {{/if}}
			</script>
		</div>
		<script type="text/template" id="tmpl-comments">
			{{each post_list as item index}}
			<div class="talk_comment" data-id="{{item.post_id}}">
				<li>
					<div class="post-photo">
						<img src="{{item.ccid | getUserInfo:user_list,'icon', 'http://cdn.icomicool.cn/m/act/act-common/images/default_avatar.png'}}">
					</div>
					<h3>{{item.ccid | getUserInfo:user_list,'nickname','酷酱'}}</h3>
					<time>{{item.post_time | date2string}}</time>
				</li>
				<li>
					<p class="comment-content">{{item.post_text}}</p>
				</li>
				<li class="post_rich comment-content">
					{{each item.post_rich as n}}
					{{if n.img_url}}
					<img src='http://up.cdn.icomico.com/{{n.img_url}}'>
					{{/if}}
					{{/each}}
				</li>
				<small><i class="iconfont icon-xin"></i>{{item.praise_count}}</small>
			</div>
			{{/each}}
		</script>
		<div class="publish_betting"></div>
		<!-- 主要内容：结束 -->
		<!-- 百度分享面板 -->
		<div id="ShareBg"></div>
		<div class="bdsharebuttonbox sharebox" data-tag="share_1">
			<div id="ShareCon">
				<em></em>
				<h2></h2>
			</div>
			<div>
				<a data-cmd="tsina"></a><i class="icon-xinlangweibo iconfont"></i>
				<a data-cmd="sqq"></a><i class="icon-qq iconfont" data-cmd="bds_sqq"></i>
				<a data-cmd="qzone"></a><i class="icon-qqkongjian iconfont" data-cmd="bds_qzone"></i>
				<a data-cmd="douban"></a><i class="icon-douban iconfont" data-cmd="bds_douban"></i>
			</div>
			<div class="share-clo">取消</div>
		</div>
		<script src="http://m.comicool.cn/m-common/js/app.js"></script>
		<script src="http://www.comicool.cn/common/js/template.js"></script>
		<script src="js/comment.js"></script>
		<script src="js/md5.js"></script>
		<script src="js/main.js"></script>
		<script src="js/ui.js"></script>
		<script>
			window.onload = function() {
				if(!isApp) {
					new TipBox({str: '请在可米酷APP内打开', btnText: ['下载', '取消'], btnCallback: downloadFun });
					function downloadFun() {
						if (this.innerText == '下载') {
							if (isWeixin) { // 微信跳转到默认浏览器打开
				    			wxCoverShow();
				    		} else { // 下载链接
				    			window.location.href = 'http://m.app.comicool.cn/smart_open/main.php?ch=prom2';
				    		}
			    		}
					}

					function wxCoverShow() {
						document.getElementsByClassName('wxShareCover')[0].style.display = 'block';
						document.getElementsByClassName('wxShareCover')[0].addEventListener('click', function() {
							document.getElementsByClassName('wxShareCover')[0].style.display = 'none';
						})
					}

					//活动规则
				    $('.rule-btn').on('click', function () {
				        $('.rule-container').show();
				    })

				    $('.rule-container .icon-guanbi').on('click', function() {
				        $('.rule-container').hide();
				    })
					/*$('body').on('click', function() {
						new TipBox({str: '请在可米酷APP内打开'});
					})*/
				} else {
					main();
					bindOpenComicEvents();
				}
			}

			TouchSlide({
				slideCell: "#nav-tabs",
				defaultIndex: 1,
				endFun: function(i) { //高度自适应
					/*var bd = document.getElementById("nav-content-bd");
					bd.parentNode.style.height = bd.children[i].children[0].offsetHeight + "px";
					if (i > 0) bd.parentNode.style.transition = "200ms"; *///添加动画效果
				}
			});

			TouchSlide({ 
				slideCell: "#picScroll",
				autoPage: true, //自动分页
				pnLoop: true, // 前后按钮不循环
				switchLoad: "_src" //切换加载，真实图片路径为"_src" 
			});

			/*$('.pic').on('click', function() {
				var targetSrc = $(this).find('img').attr('src');
				$('#ShareBg').show();
				$('.slide-main').show();
			})

			$('.slide-main').on('click', function() {
				$(this).hide();
				$('#ShareBg').hide();
			})*/

			var slideMainIndex = 0;
			var maxSlideIndex = $('.slide-item').size();
			var screenWidth = window.screen.width;
			$('.scroll-container').css('width', screenWidth*maxSlideIndex+'px');
			$('.slide-item').css('width', screenWidth+'px');
			$('.slide-main').on('swipeLeft', function() {
				slideMainIndex = ++slideMainIndex > maxSlideIndex ? maxSlideIndex-1 : slideMainIndex;
				var slideAuto = 0 - slideMainIndex * screenWidth; 
				$(this).find('.scroll-container').animate({
					translate3d: slideAuto + 'px, 0px, 0px'
				}, 350, 'easy-out');
			})

			$('.slide-main').on('swipeRight', function() {
				slideMainIndex = --slideMainIndex < 0 ? 0 : slideMainIndex;
				var slideAuto = 0 - slideMainIndex * screenWidth;
				$(this).find('.scroll-container').animate({
					translate3d: slideAuto + 'px, 0px, 0px'
				}, 350, 'easy-out');
			})

			function bindOpenComicEvents() {
				var readComic;
				if (isApp) {
					readComic = function(cid) {
						callAppFunction('openEpisodeReaderPage', {
							comic_id: cid,
							ep_id: 1
						});
					}
				} else {
					readComic = function(cid) {
						window.location.href = 'http://m.comicool.cn/content/reader.html?comic_id=' + cid + '&ep_id=1';
					}
				}
				$(".go").on('click', function(e) {
					var cid = this.dataset.cid;
					if (cid !== "undefined" && cid !== "") {
						readComic(cid);
					}
				});
			}

			var shareJsonObj = {
				'title': '哆啦A梦-法宝袋61梦幻启程',
				'describe': '参与游戏获取INPLAY正版授权哆啦A梦精美首发十二生肖手办',
				'imageUrl': 'http://cdn.icomicool.cn/m/act/201605/doraemon/images/doraemon_share.jpg',
				'pageUrl': window.location.href
			};
			setShareInfo(shareJsonObj, {
				use: 'baidu',
				init: initBaiduSharePanel
			});

			function initBaiduSharePanel() {
				var _ = function(selector, parent) {
						return (parent || document).querySelector(selector);
					},
					header = _('.header'),
					trigger = _('.icon-share', header),
					mask = _('#ShareBg'),
					panel = _('.bdsharebuttonbox'),
					wxqq = _('#wxqq'),
					cancelBtn = _('.share-clo', panel),
					panelTitle = _('#ShareCon h2'),
					panelImageCont = _('#ShareCon em'),
					panelImage = new Image(),
					hidePanel = function() {
						mask.style.display = panel.style.display = 'none';
					};
				header.style.display = 'block';
				panelTitle.innerHTML = this.title;
				panelImage.src = this.imageUrl;
				panelImageCont.appendChild(panelImage);
				trigger.addEventListener('click', function() {
					mask.style.display = panel.style.display = 'block';
				});
				mask.addEventListener('click', hidePanel);
				cancelBtn.addEventListener('click', hidePanel);
				if (isApp || isWeixin || isQQ || isWeibo) {
					header.style.display = 'none';
				}
			}
		</script>
		<!-- 百度统计 -->
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "//hm.baidu.com/hm.js?91ce1b276d999b0757a6bf47b0e86df6";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</body>

</html>