<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>恐怖耽美一本满足</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="恐怖耽美一本满足">
    <link rel="stylesheet" href="http://cdn.icomicool.cn/m/act/act-common/css/common.css?t=20160309">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1457508784_8143878.css">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://m.comicool.cn/m-common/js/init.js"></script>
    <script src="http://cdn.icomicool.cn/m/js/config.js"></script>
    <style>
        li {
            position: relative;
        }

        .dl {
            position: absolute;
            left: 0;
            height: 100%;
            width: 50%;
        }

        .dr {
            position: absolute;
            left: 50%;
            height: 100%;
            width: 50%;
        }

        .praise-block {
            width: 50%;
            height: 8rem;
            text-align: center;
            padding-top: 1rem;
        }

        .praise-terror {
            color: #fff;
            float: left;
            background-color: #000;
        }

        .praise-tanbi {
            float: right;
            background-color: #fff;
        }

        .praise {
            height: 6rem;
            margin: 10% auto 0;
            width: 60%;
            border-radius: 10px;
        }

        .iconfont {
            font-size: 4rem;
            color: red;
        }

        .tanbi-praise {
            background-color: #000;
        }

        .terror-praise {
            background-color: #fff;
        }
    </style>
</head>

<body>
<!-- 一般化分享 -->
<h1 class="thumbnails" style="display:none">
    恐怖耽美一本满足
    <p>恐怖耽美一本满足</p>
    <img src="http://cdn.icomicool.cn/m/act/201603/tanbiterror/images/share.jpg">
</h1>
<header class="header header-fixed header-shadow">
    <a class="l-icon icon-home" href="http://m.comicool.cn"></a>
    <i class="r-icon icon-share"></i>
</header>
<!-- 主要内容：开始 -->
<div id="imglist">
    <li><img src="http://cdn.icomicool.cn/m/act/201603/tanbiterror/images/index_01.jpg" alt="恐怖耽美一本满足"></li>
    <li><img src="http://cdn.icomicool.cn/m/act/201603/tanbiterror/images/index_02.jpg" alt="恐怖耽美一本满足"></li>
    <li>
        <div class="dl go" data-cid="10424"></div>
        <div class="dr go" data-cid="11065"></div>
        <img src="http://cdn.icomicool.cn/m/act/201603/tanbiterror/images/index_03.jpg" alt="恐怖耽美一本满足">
    </li>
    <li>
        <div class="dl go" data-cid="11062"></div>
        <div class="dr go" data-cid="10881 "></div>
        <img src="http://cdn.icomicool.cn/m/act/201603/tanbiterror/images/index_04.jpg" alt="恐怖耽美一本满足">
    </li>
    <li>
        <div class="dl go" data-cid="11034"></div>
        <div class="dr go" data-cid="10962"></div>
        <img src="http://cdn.icomicool.cn/m/act/201603/tanbiterror/images/index_05.jpg" alt="恐怖耽美一本满足">
    </li>
    <li>
        <div class="dl go" data-cid="11022"></div>
        <div class="dr go" data-cid="10665"></div>
        <img src="http://cdn.icomicool.cn/m/act/201603/tanbiterror/images/index_06.jpg" alt="恐怖耽美一本满足">
    </li>
    <li>
        <div class="dl go" data-cid="11019"></div>
        <div class="dr go" data-cid="11116"></div>
        <img src="http://cdn.icomicool.cn/m/act/201603/tanbiterror/images/index_07.jpg" alt="恐怖耽美一本满足">
    </li>
    <li>
        <div class="dl go" data-cid="10907"></div>
        <div class="dr go" data-cid="11088"></div>
        <img src="http://cdn.icomicool.cn/m/act/201603/tanbiterror/images/index_08.jpg" alt="恐怖耽美一本满足">
    </li>
    <li>
        <div class="dl go" data-cid="11071"></div>
        <div class="dr go" data-cid="11051"></div>
        <img src="http://cdn.icomicool.cn/m/act/201603/tanbiterror/images/index_09.jpg" alt="恐怖耽美一本满足">
    </li>
    <li><img src="http://cdn.icomicool.cn/m/act/201603/tanbiterror/images/index_10.jpg" alt="恐怖耽美一本满足"></li>
    <li>
        <div class="praise-block praise-terror">
            <span class="terror-praise-cnt praise-cnt">555</span>
            <div class="praise terror-praise" data-p="terror"><i class="iconfont icon-praise"></i></div>
        </div>
        <div class="praise-block praise-tanbi">
            <span class="tanbi-praise-cnt praise-cnt">555</span>
            <div class="praise tanbi-praise" data-p="tanbi"><i class="iconfont icon-praise"></i></div>
        </div>
    </li>
    <li style="clear: both"><img src="http://cdn.icomicool.cn/m/act/201603/tanbiterror/images/index_12.jpg"
                                 alt="恐怖耽美一本满足"></li>
</div>
<div class="discuss_betting">
    <script type="text/template" id="tmpl-discuss">
        <div class="talk_title_betting">
            <span><i class="iconfont icon-liuyan" id="post-counter">{{post_count}}</i></span>
        </div>
        {{if post_list && post_list.length}} {{include 'tmpl-comments'}} {{/if}}
    </script>
</div>
<script type="text/template" id="tmpl-comments">
    {{each post_list as item index}}
    <div class="talk_comment" data-id="{{item.post_id}}">
        <li>
            <div class="post-photo">
                <img src="{{item.ccid | getUserInfo:user_list,'icon', 'http://cdn.icomicool.cn/m/act/act-common/images/default_avatar.png'}}">
            </div>
            <h3>{{item.ccid | getUserInfo:user_list,'nickname','酷酱'}}</h3>
            <time>{{item.post_time | date2string}}</time>
        </li>
        <li>
            <p class="comment-content">{{item.post_text}}</p>
        </li>
        <li class="post_rich comment-content">
            {{each item.post_rich as n}}
            {{if n.img_url}}
            <img src='http://up.cdn.icomico.com/{{n.img_url}}'>
            {{/if}}
            {{/each}}
        </li>
        <small><i class="iconfont icon-xin"></i>{{item.praise_count}}</small>
    </div>
    {{/each}}
</script>
<div class="publish_betting"></div>
<!-- 主要内容：结束 -->
<!-- 百度分享面板 -->
<div id="ShareBg"></div>
<div class="bdsharebuttonbox sharebox" data-tag="share_1">
    <div id="ShareCon">
        <em></em>
        <h2></h2>
    </div>
    <div>
        <a data-cmd="tsina"></a><i class="icon-xinlangweibo iconfont"></i>
        <a data-cmd="sqq"></a><i class="icon-qq iconfont" data-cmd="bds_sqq"></i>
        <a data-cmd="qzone"></a><i class="icon-qqkongjian iconfont" data-cmd="bds_qzone"></i>
        <a data-cmd="douban"></a><i class="icon-douban iconfont" data-cmd="bds_douban"></i>
    </div>
    <div class="share-clo">取消</div>
</div>
<script src="http://m.comicool.cn/m-common/js/app.js"></script>
<script src="http://www.comicool.cn/common/js/template.js"></script>
<script src="js/comment.js"></script>
<script type="text/javascript">
    var hasPraised = getCookie('tanbiterrorPraise');
    if (hasPraised == 'terror') {
        $('.terror-praise').find('.iconfont').addClass('icon-praised');
    } else if (hasPraised == 'tanbi') {
        $('.tanbi-praise').find('.iconfont').addClass('icon-praised');
    }

    setShareInfo({
        title: '恐怖耽美一本满足',
        describe: '恐怖耽美一本满足',
        imageUrl: 'http://cdn.icomicool.cn/m/act/201603/tanbiterror/images/share_220.jpg',
        pageUrl: window.location.href
    }, {
        use: 'baidu',
        init: initBaiduSharePanel
    });

    function initBaiduSharePanel() {
        var _ = function (selector, parent) {
                    return (parent || document).querySelector(selector);
                },
                header = _('.header'),
                trigger = _('.icon-share', header),
                mask = _('#ShareBg'),
                panel = _('.bdsharebuttonbox'),
                cancelBtn = _('.share-clo', panel),
                panelTitle = _('#ShareCon h2'),
                panelImageCont = _('#ShareCon em'),
                panelImage = new Image(),
                hidePanel = function () {
                    mask.style.display = panel.style.display = 'none';
                };
        header.style.display = 'block';
        panelTitle.innerHTML = this.title;
        panelImage.src = this.imageUrl;
        panelImageCont.appendChild(panelImage);
        trigger.addEventListener('click', function () {
            mask.style.display = panel.style.display = 'block';
        });
        mask.addEventListener('click', hidePanel);
        cancelBtn.addEventListener('click', hidePanel);
    }

    $.ajax({
        url: 'http://comicool.cn/simple_vote.php',
        dataType: "jsonp",
        data: {},
        jsonpCallback: "jsonp_match",
        success: function (data) {
            var terrorPraiseCnt = data.results[4];
            var tanbiPraiseCnt = data.results[5];
            $(".terror-praise-cnt").html(terrorPraiseCnt);
            $(".tanbi-praise-cnt").html(tanbiPraiseCnt);
            bindOpenComicEvents();
        }
    })

    function bindOpenComicEvents() {
        var readComic;
        if (isApp) {
            readComic = function (cid) {
                callAppFunction('openEpisodeReaderPage', {
                    comic_id: cid,
                    ep_id: 1
                });
            }
        } else {
            readComic = function (cid) {
                window.location.href = 'http://m.comicool.cn/content/reader.html?comic_id=' + cid + '&ep_id=1';
            }
        }
        $(".go").on('click', function (e) {
            var cid = this.dataset.cid;
            if (cid !== "undefined" && cid !== "") {
                readComic(cid);
            }
        });

        $('.praise').on('click', function () {
            hasPraised = getCookie('tanbiterrorPraise');
            var praiseType = $(this).data("p");
            if (hasPraised) {
                if (hasPraised == praiseType) {
                    alert('你已经点过赞了！');
                } else {
                    $(this).parent('.praise-block').find('.praise-cnt').html(function (i, v) {
                        return Number(v) + 1;
                    });
                    if (hasPraised == 'tanbi') {
                        $('.terror-praise .iconfont').addClass('icon-praised');
                        $('.tanbi-praise .iconfont').removeClass('icon-praised');
                        $('.tanbi-praise-cnt').html(function (i, v) {
                            return Number(v) - 1;
                        });
                        $.get("http://comicool.cn/simple_vote.php?sel=5");
                    } else {
                        $('.terror-praise .iconfont').removeClass('icon-praised');
                        $('.tanbi-praise .iconfont').addClass('icon-praised');
                        $('.terror-praise-cnt').html(function (i, v) {
                            return Number(v) - 1;
                        });
                        $.get("http://comicool.cn/simple_vote.php?sel=4");
                    }
                    setCookie("tanbiterrorPraise", praiseType, 30);
                }
            } else {
                $(this).parent('.praise-block').find('.praise-cnt').html(function (i, v) {
                    return Number(v) + 1;
                });
                if (praiseType == 'terror') {
                    $.get("http://comicool.cn/simple_vote.php?sel=4");
                } else {
                    $.get("http://comicool.cn/simple_vote.php?sel=5");
                }
                setCookie("tanbiterrorPraise", praiseType, 30);
            }
        });
    }
</script>
<!-- 百度统计 -->
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?91ce1b276d999b0757a6bf47b0e86df6";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>

</html>