<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>5月新番 日日嗨</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="keywords" content="三生劫漫画,三生劫漫画全集,三生劫漫画免费在线,白鹤三绝漫画,白鹤三绝漫画全集,白鹤三绝漫画免费在线,凤求凰漫画,凤求凰漫画全集,凤求凰漫画免费在线,圈圈漫画,圈圈漫画全集,圈圈漫画免费在线,滚蛋吧肿瘤君漫画,滚蛋吧肿瘤君漫画全集,滚蛋吧肿瘤君漫画免费在线,跟我一起去欺负小恐龙漫画,跟我一起去欺负小恐龙漫画全集,跟我一起去欺负小恐龙漫画免费在线" />
		<meta name="description" content="可米酷漫画每日更新漫画,给你不一样的5月!">
		<link rel="stylesheet" href="http://cdn.icomicool.cn/m/act/act-common/css/common.css?t=20160309">
		<link rel="stylesheet" href="http://at.alicdn.com/t/font_1447060501_1939075.css">
		<!--<link rel="stylesheet" href="css/style.css">-->
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="http://m.comicool.cn/m-common/js/init.js"></script>
		<script src="http://cdn.icomicool.cn/m/js/config.js"></script>
		<style type="text/css">
			#toast {
				position: fixed;
				bottom: 2rem;
				left: 50%;
				transform: translate3d(-50%, 0, 0);
				-ms-transform: translate3d(-50%, 0, 0);
				-moz-transform: translate3d(-50%, 0, 0);
				-webkit-transform: translate3d(-50%, 0, 0);
				-o-transform: translate3d(-50%, 0, 0);
				border-radius: .3rem;
				background: #000;
				color: #fff;
				padding: .5rem 1rem;
				text-align: center;
				opacity: .7;
				-webkit-tap-highlight-color: transparent;
				/*The good stuff */
				-webkit-transition: opacity 0.5s ease-out;
				/* Saf3.2+, Chrome */
				-moz-transition: opacity 0.5s ease-out;
				/* FF4+ */
				-ms-transition: opacity 0.5s ease-out;
				/* IE10? */
				-o-transition: opacity 0.5s ease-out;
				/* Opera 10.5+ */
				transition: opacity 0.5s ease-out;
				z-index: 9999;
				font-size: .7rem;
				background: #6B6A6A;
			}
		</style>
	</head>

	<body>
		<!-- 一般化分享 -->
		<h1 class="thumbnails" style="display:none">
        5月新番 日日嗨
        <p>老司机请让开，我们来带你飞</p>
        <img src="http://cdn.icomicool.cn/m/act/201604/xinfan/images/51share.jpg">
    </h1>
		<header class="header header-fixed header-shadow">
			<a class="l-icon icon-home" href="http://m.comicool.cn"></a>
			<i class="r-icon icon-share"></i>
		</header>
		<!-- 主要内容：开始 -->
		<div id="imglist">

			<li><img src="http://cdn.icomicool.cn/m/act/201604/xinfan/images/index_01.jpg" alt="在线漫画阅读,漫画App" /></li>
			<li class="go" data-cid="11229"><img src="http://cdn.icomicool.cn/m/act/201604/xinfan/images/index_02.jpg" alt="三生劫漫画,三生劫漫画全集,三生劫漫画免费在线,在线漫画阅读,漫画App" /></li>
			<li class="go" data-cid="11226"><img src="http://cdn.icomicool.cn/m/act/201604/xinfan/images/index_03.jpg" alt="白鹤三绝漫画,白鹤三绝漫画全集,白鹤三绝漫画免费在线,在线漫画阅读,漫画App" /></li>
			<li class="go" data-cid="11231"><img src="http://cdn.icomicool.cn/m/act/201604/xinfan/images/index_04.jpg" alt="凤求凰漫画,凤求凰漫画全集,凤求凰漫画免费在线,在线漫画阅读,漫画App" /></li>
			<li class="go" data-cid="11234"><img src="http://cdn.icomicool.cn/m/act/201604/xinfan/images/index_05.jpg" alt="圈圈漫画,圈圈漫画全集,圈圈漫画免费在线,在线漫画阅读,漫画App" /></li>
			<li class="go" data-cid="11232"><img src="http://cdn.icomicool.cn/m/act/201604/xinfan/images/index_06.jpg" alt="滚蛋吧肿瘤君漫画,滚蛋吧肿瘤君漫画全集,滚蛋吧肿瘤君漫画免费在线,在线漫画阅读,漫画App" /></li>
			<li class="go" data-cid="11230"><img src="http://cdn.icomicool.cn/m/act/201604/xinfan/images/index_07.jpg" alt="跟我一起去欺负小恐龙漫画,跟我一起去欺负小恐龙漫画全集,跟我一起去欺负小恐龙漫画免费在线,在线漫画阅读,漫画App" /></li>
			<li><img src="http://cdn.icomicool.cn/m/act/201604/xinfan/images/index_08.jpg" alt="在线漫画阅读,漫画App" /></li>
			<li id="praise"><span>0</span><img src="http://cdn.icomicool.cn/m/act/201604/xinfan/images/index_09.jpg" alt="在线漫画阅读,漫画App" /></li>
		</div>
		<div class="discuss_betting">
			<script type="text/template" id="tmpl-discuss">
				<div class="talk_title_betting">
					<span><i class="iconfont icon-liuyan" id="post-counter">{{post_count}}</i></span>
				</div>
				{{if post_list && post_list.length}} {{include 'tmpl-comments'}} {{/if}}
			</script>
		</div>
		<script type="text/template" id="tmpl-comments">
			{{each post_list as item index}}
			<div class="talk_comment" data-id="{{item.post_id}}">
				<li>
					<div class="post-photo">
						<img src="{{item.ccid | getUserInfo:user_list,'icon', 'http://cdn.icomicool.cn/m/act/act-common/images/default_avatar.png'}}">
					</div>
					<h3>{{item.ccid | getUserInfo:user_list,'nickname','酷酱'}}</h3>
					<time>{{item.post_time | date2string}}</time>
				</li>
				<li>
					<p class="comment-content">{{item.post_text}}</p>
				</li>
				<li class="post_rich comment-content">
					{{each item.post_rich as n}} {{if n.img_url}}
					<img src='http://up.cdn.icomico.com/{{n.img_url}}'> {{/if}} {{/each}}
				</li>
				<small><i class="iconfont icon-xin"></i>{{item.praise_count}}</small>
			</div>
			{{/each}}
		</script>
		<div class="publish_betting"></div>
		<!-- 主要内容：结束 -->
		<!-- 百度分享面板 -->
		<div id="ShareBg"></div>
		<div class="bdsharebuttonbox sharebox" data-tag="share_1">
			<div id="ShareCon">
				<em></em>
				<h2></h2>
			</div>
			<div>
				<a data-cmd="tsina"></a><i class="icon-xinlangweibo iconfont"></i>
				<a data-cmd="sqq"></a><i class="icon-qq iconfont" data-cmd="bds_sqq"></i>
				<a data-cmd="qzone"></a><i class="icon-qqkongjian iconfont" data-cmd="bds_qzone"></i>
				<a data-cmd="douban"></a><i class="icon-douban iconfont" data-cmd="bds_douban"></i>
			</div>
			<div class="share-clo">取消</div>
		</div>
		<script src="http://m.comicool.cn/m-common/js/app.js"></script>
		<script src="http://www.comicool.cn/common/js/template.js"></script>
		<script src="js/comment.js"></script>
		<script>
			setShareInfo({
				title: '5月新番 日日嗨',
				describe: '老司机请让开，我们来带你飞',
				imageUrl: 'http://cdn.icomicool.cn/m/act/201604/xinfan/images/51share.jpg',
				pageUrl: window.location.href
			}, {
				use: 'baidu',
				init: initBaiduSharePanel
			});

			function initBaiduSharePanel() {
				var _ = function(selector, parent) {
						return (parent || document).querySelector(selector);
					},
					header = _('.header'),
					trigger = _('.icon-share', header),
					mask = _('#ShareBg'),
					panel = _('.bdsharebuttonbox'),
					cancelBtn = _('.share-clo', panel),
					panelTitle = _('#ShareCon h2'),
					panelImageCont = _('#ShareCon em'),
					panelImage = new Image(),
					hidePanel = function() {
						mask.style.display = panel.style.display = 'none';
					};
				header.style.display = 'block';
				panelTitle.innerHTML = this.title;
				panelImage.src = this.imageUrl;
				panelImageCont.appendChild(panelImage);
				trigger.addEventListener('click', function() {
					mask.style.display = panel.style.display = 'block';
				});
				mask.addEventListener('click', hidePanel);
				cancelBtn.addEventListener('click', hidePanel);
				if (isApp || isWeixin || isQQ || isWeibo) {
					header.style.display = 'none';
				}
			}
			$.ajax({
				url: 'http://comicool.cn/simple_vote.php',
				dataType: "jsonp",
				data: {},
				jsonpCallback: "jsonp_match",
				success: function(data) {
					var praise = data.results[16];
					$("#praise span").html(praise);
					bindOpenComicEvents();
				}
			})

			function bindOpenComicEvents() {
				var readComic;
				if (isAndroidApp) {
					readComic = function(cid) {
						callAppFunction('openEpisodeReaderPage', {
							comic_id: cid,
							ep_id: 1
						});
					}
				} else {
					readComic = function(cid) {
						window.location.href = 'http://m.comicool.cn/content/reader.html?comic_id=' + cid + '&ep_id=1';
					}
				}
				$(".go").on('click', function(e) {
					var cid = this.dataset.cid;
					if (cid !== "undefined" && cid !== "") {
						readComic(cid);
					}
				});
			}
			if (!getCookie('flag_sixteen')) {
				var flag_sixteen = false;
			} else {
				$("#praise img").attr("src", "http://cdn.icomicool.cn/m/act/201604/xinfan/images/index_099.jpg");
			}
			//				下面的按钮点赞
			$("#praise").on("click", function() {
					//					clearCookie("flag_sixteen")
					if (getCookie('flag_sixteen') == "true") {
						drawToast("给你阳光别灿烂");
					} else {
						var num = $("#praise span").html();
						$("#praise span").html(parseInt(num) + 1);
						$("#praise img").attr("src", "http://cdn.icomicool.cn/m/act/201604/xinfan/images/index_099.jpg");
						$.get("http://comicool.cn/simple_vote.php?sel=16");
						setCookie("flag_sixteen", "true", 30)
					}
				})
				//取得cookie    
			function getCookie(name) {
				var nameEQ = name + "=";
				var ca = document.cookie.split(';'); //把cookie分割成组    
				for (var i = 0; i < ca.length; i++) {
					var c = ca[i]; //取得字符串    
					while (c.charAt(0) == ' ') { //判断一下字符串有没有前导空格    
						c = c.substring(1, c.length); //有的话，从第二位开始取    
					}
					if (c.indexOf(nameEQ) == 0) { //如果含有我们要的name    
						return unescape(c.substring(nameEQ.length, c.length)); //解码并截取我们要值    
					}
				}
				return false;
			}
			//清除cookie    
			function clearCookie(name) {
				setCookie(name, "", -1);
			}
			//设置cookie    
			function setCookie(name, value, seconds) {
				seconds = seconds || 0; //seconds有值就直接赋值，没有为0，这个根php不一样。    
				var expires = "";
				if (seconds != 0) { //设置cookie生存时间    
					var date = new Date();
					date.setTime(date.getTime() + (seconds * 1000 * 360 * 24 * 365));
					expires = "; expires=" + date.toGMTString();
				}
				document.cookie = name + "=" + escape(value) + expires + "; path=/"; //转码并赋值    
			}

			function hideToast() {
				var alert = document.getElementById("toast");
				alert.style.opacity = 0;
				clearInterval(intervalCounter);
			}

			function drawToast(message) {
				var alert = document.getElementById("toast");
				if (alert == null) {
					var toastHTML = '<div id="toast">' + message + '</div>';
					document.body.insertAdjacentHTML('beforeEnd', toastHTML);
				} else {
					alert.remove();
					drawToast(message);
				}
				intervalCounter = setInterval("hideToast()", 1000);
			}
		</script>
		<!-- 百度统计 -->
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "//hm.baidu.com/hm.js?91ce1b276d999b0757a6bf47b0e86df6";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</body>

</html>