<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>神兽COS--美腿征服六界</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="神兽COS--美腿征服六界,神兽退散,太子妃,长腿妃,程小蒙">
		<link rel="stylesheet" href="http://cdn.icomicool.cn/m/act/act-common/css/common.css?t=20160309">
		<link rel="stylesheet" href="http://at.alicdn.com/t/font_1447060501_1939075.css">
	    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="http://m.comicool.cn/m-common/js/init.js"></script>
		<script src="http://cdn.icomicool.cn/m/js/config.js"></script>
		<style>
			li { position: relative; }
			@-webkit-keyframes fadeInOut {
			    0% {
			        top: 0;
			     }
			    100% {
			        top: 25rem;
			    }
			}

			@-webkit-keyframes fadeback {
			    0% {
			        top: 25rem;
			     }
			    100% {
			        top: 0;
			    }
			}

			.fir {
			    position:absolute;    
			}

			.animation_op {
				-webkit-animation-name: fadeInOut;
			    -webkit-animation-timing-function: ease-in-out;
			    -webkit-animation-duration: 4s;
			    -webkit-animation-direction: alternate;
			}

			.animation_back {
				-webkit-animation-name: fadeback;
			    -webkit-animation-timing-function: ease-in-out;
			    -webkit-animation-duration: 4s;
			    -webkit-animation-direction: alternate;
			}

			.op_btn {
				position: absolute;
				bottom: 2rem;
				right: .5rem;
				color: #fff;
				border: 1px solid #fff;
				border-radius: 5px;
				padding: .2rem .4rem;
				font-size: 16px;
			}
			/*.op_btn img {width: 50% !important;float: left;}*/
		</style>
	</head>

	<body>
		<!-- 一般化分享 -->
		<h1 class="thumbnails" style="display:none">
        神兽COS--美腿征服六界
        <p>神兽COS--征服六界，从美腿开始</p>
        <img src="http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/share.jpg">
    </h1>
		<header class="header header-fixed header-shadow">
			<a class="l-icon icon-home" href="http://m.comicool.cn"></a>
			<i class="r-icon icon-share"></i>
		</header>
		<!-- 主要内容：开始 -->
		<div id="imglist">
			<li><img src="http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/index_01.jpg" alt="神兽COS"></li>
			<li><img src="http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/index_02.jpg" alt="神兽COS"></li>
			<li><img src="http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/index_03.jpg" alt="神兽COS"></li>
			<li><img src="http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/index_04.jpg" alt="神兽COS"></li>
			<li><img src="http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/index_05.jpg" alt="神兽COS"></li>
			<li><img src="http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/index_06.jpg" alt="神兽COS"></li>
			<li id="ani_block">
				<img class="fir" src="http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/index_07r.jpg" alt="神兽COS">
				<!-- <div class="op_btn"><img src="images/op_btn.png" alt="揭开神兽退散神秘面纱"></div> -->
				<div class="op_btn">点击揭开神秘面纱</div>
				<img src="http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/replace.jpg" alt="神兽COS">
			</li>
			<li><img src="http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/index_08.jpg" alt="神兽COS"></li>
			<li><img src="http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/index_09.jpg" alt="神兽COS"></li>
			<li><img src="http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/index_10.jpg" alt="神兽COS"></li>
			<li><img src="http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/index_11.jpg" alt="神兽COS"></li>
			<li><img src="http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/index_12.jpg" alt="神兽COS"></li>
			<li><img src="http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/index_13.jpg" alt="神兽COS"></li>
			<li><img src="http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/index_14.jpg" alt="神兽COS"></li>
			<li><img src="http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/index_15.jpg" alt="神兽COS"></li>
			<li id="praise"><span>0</span><img src="http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/index_162.jpg" alt="神兽COS"></li>
			<li class="go" data-cid="77"><img src="http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/index_17.jpg" alt="神兽COS"></li>
		</div>
		<div class="discuss_betting">
		    <script type="text/template" id="tmpl-discuss">
		        <div class="talk_title_betting">
		            <span><i class="iconfont icon-liuyan" id="post-counter">{{post_count}}</i></span>
		        </div>
		        {{if post_list && post_list.length}} {{include 'tmpl-comments'}} {{/if}}
		    </script>
		</div>
		<script type="text/template" id="tmpl-comments">
		    {{each post_list as item index}}
		    <div class="talk_comment" data-id="{{item.post_id}}">
		        <li>
		            <div class="post-photo">
		                <img src="{{item.ccid | getUserInfo:user_list,'icon', 'http://cdn.icomicool.cn/m/act/act-common/images/default_avatar.png'}}">
		            </div>
		            <h3>{{item.ccid | getUserInfo:user_list,'nickname','酷酱'}}</h3>
		            <time>{{item.post_time | date2string}}</time>
		        </li>
		        <li>
		            <p class="comment-content">{{item.post_text}}</p>
		        </li>
		        <li class="post_rich comment-content">
		            {{each item.post_rich as n}}
		            {{if n.img_url}}
		            <img src='http://up.cdn.icomico.com/{{n.img_url}}'>
		            {{/if}}
		            {{/each}}
		        </li>
		        <small><i class="iconfont icon-xin"></i>{{item.praise_count}}</small>
		    </div>
		    {{/each}}
		</script>
		<div class="publish_betting"></div>
		<!-- 主要内容：结束 -->
		<!-- 百度分享面板 -->
		<div id="ShareBg"></div>
		<div class="bdsharebuttonbox sharebox" data-tag="share_1">
			<div id="ShareCon">
				<em></em>
				<h2></h2>
			</div>
			<div>
				<a data-cmd="tsina"></a><i class="icon-xinlangweibo iconfont"></i>
				<a data-cmd="sqq"></a><i class="icon-qq iconfont" data-cmd="bds_sqq"></i>
				<a data-cmd="qzone"></a><i class="icon-qqkongjian iconfont" data-cmd="bds_qzone"></i>
				<a data-cmd="douban"></a><i class="icon-douban iconfont" data-cmd="bds_douban"></i>
			</div>
			<div class="share-clo">取消</div>
		</div>
		<script src="http://m.comicool.cn/m-common/js/app.js"></script>
		<script src="http://www.comicool.cn/common/js/template.js"></script>
		<script src="js/comment.js"></script>
		<script>
			setShareInfo({
				title: '神兽COS--美腿征服六界',
				describe: '神兽COS--征服六界，从美腿开始',
				imageUrl: 'http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/share.jpg',
				pageUrl: window.location.href
			}, {
				use: 'baidu',
				init: initBaiduSharePanel
			});

			function initBaiduSharePanel() {
				var _ = function(selector, parent) {
						return (parent || document).querySelector(selector);
					},
					header = _('.header'),
					trigger = _('.icon-share', header),
					mask = _('#ShareBg'),
					panel = _('.bdsharebuttonbox'),
					cancelBtn = _('.share-clo', panel),
					panelTitle = _('#ShareCon h2'),
					panelImageCont = _('#ShareCon em'),
					panelImage = new Image(),
					hidePanel = function() {
						mask.style.display = panel.style.display = 'none';
					};
				header.style.display = 'block';
				panelTitle.innerHTML = this.title;
				panelImage.src = this.imageUrl;
				panelImageCont.appendChild(panelImage);
				trigger.addEventListener('click', function() {
					mask.style.display = panel.style.display = 'block';
				});
				mask.addEventListener('click', hidePanel);
				cancelBtn.addEventListener('click', hidePanel);
			}

			(function(){
				$.ajax({
					url: 'http://comicool.cn/simple_vote.php',
					dataType: "jsonp",
					data: {},
					jsonpCallback: "jsonp_match",
					success: function(data) {
						var praise = data.results[13];
						$("#praise span").html(praise);
						if (getCookie('praise13')) {
							$('#praise img').attr('src', 'http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/index_161.jpg');
						}
						bindOpenComicEvents();
					}
				})
			})(window)

			function bindOpenComicEvents() {
				var readComic;
				if (isApp) {
					readComic = function(cid) {
						callAppFunction('openEpisodeReaderPage', {
							comic_id: cid,
							ep_id: 1
						});
					}
				} else {
					readComic = function(cid) {
						window.location.href = 'http://m.comicool.cn/content/reader.html?comic_id=' + cid + '&ep_id=1';
					}
				}
				$(".go").on('click', function(e) {
					var cid = this.dataset.cid;
					if (cid !== "undefined" && cid !== "") {
						readComic(cid);
					}
				});
				$('#praise').on('click', function() {
					if (getCookie('praise13')) {
						alert('您已经点过赞了！');
						return ;
					}
					$('#praise span').html(function(i, v) {
						return Number(v) + 1;
					})
					$('#praise img').attr('src', 'http://cdn.icomicool.cn/m/act/201604/shenshoucos/images/index_161.jpg');
					setCookie('praise13', true, 30);
					$.get("http://comicool.cn/simple_vote.php?sel=13");
				});
			}

			var opStatus = 0;

			$('.op_btn').on('click', function(){
				if(opStatus == 0) {
					$('.fir').addClass('animation_op');
					opStatus = 20;
				} else if (opStatus == 1) {
					$('.fir').addClass('animation_back');
					opStatus = 21;
				} else {
					return;
				}
			})

			$('.fir').on('webkitAnimationEnd', function() {
				if(opStatus == 20) {
					$('.op_btn').html('查看COSPLAY原型');
					$(this).css('top', '25rem').removeClass('animation_op');
					opStatus = 1;
				} else if (opStatus == 21) {
					$('.op_btn').html('点击揭开神秘面纱');
					$(this).css('top', '0').removeClass('animation_back');
					opStatus = 0;
				} else {
					return;
				}
			})
		</script>
		<!-- 百度统计 -->
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "//hm.baidu.com/hm.js?91ce1b276d999b0757a6bf47b0e86df6";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</body>

</html>